{% extends 'base.html' %}

{% block content %}
<h1>Добавление теста</h1>
<div class="breadcrumb">
    <a href="{% url 'theme_view' theme.id %}">{{theme.title}}</a> → 
    <a href="{% url 'subtheme_view' theme.id subtheme.id %}">{{subtheme.title}}</a>
</div>
<div class="card">
    <form action="{% url 'test_add' theme.id subtheme.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{form.as_p}}
        </div>
        <button type="submit" class="btn btn-success">Добавить тест</button>
        <a href="{% url 'tests_list' theme.id subtheme.id %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}

