{% extends 'base.html' %}

{% block content %}
<h1>Список тем</h1>
<ul>
    {% for theme in object_list %}
    <li><a href = "{% url 'theme_view' theme.id %}">{{theme.title}}</a> (<a href="{% url 'theme_edit' theme.id %}">ред.</a>)
        <ul>
            {% for subtheme in theme.subthemes.all %}
                <li><a href="{% url 'subtheme_view' theme.id subtheme.id %}">{{subtheme.title}}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'theme_add' %}">Добавить тему</a>
{% endblock %}